.container {
  width: 32%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  transition: box-shadow 0.2s ease-in-out;
}

.container:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 25px 35px;
}

.bodyContainer {
  margin-top: 10px;
}

.voteContainer {
  margin-top: 10px;
  margin-bottom: 10px;

  padding-left: 10px;
  display: flex;
  flex-direction: row;
}

.voteCount {
  font-size: 20px;

  font-family: "Poppins";
  margin-left: 10px;
  margin-top: -3px;
  margin-bottom: -20px;
}
